#map {
  height: 31.35rem;
  border-radius: 15px;
}

#travel-section {
  height: auto;
  width: 68.61%;
}

#how-section {
  height: auto;
  width: 82.15%;
}
// Footer section
#footer-geobites {
  height: auto;
  width: 3rem;
}
#footer-text {
  font-size: 2.23rem;
}

.social {
  height: 2.5rem;
  width: auto;
}

#footer-credit {
  font-size: 25.5px;
  font-weight: 200;
}

.output-background {
  width: 62.78%;
  height: 18.13rem;
  background-color: #F2F2F2;
  border-radius: 4rem;
}

.url-icon {
  height: 20px;
  width: auto;
}

#map {
  margin-top: 130px;
  width: 62.78%;
  height: 30rem;
  min-height: 300px;
  border-radius: 4rem;
}

.navheight {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  height: 120px;
}
