#map {
  height: 31.35rem;
  border-radius: 15px;
}

#travel-section {
  height: auto;
  width: 68.61%;
}

#how-section {
  height: auto;
  width: 82.15%;
}
// Footer section
#footer-geobites {
  height: auto;
  width: 3rem;
}
#footer-text {
  font-size: 2.23rem;
}

.social {
  height: 2.5rem;
  width: auto;
}

#footer-credit {
  font-size: 25.5px;
  font-weight: 200;
}

.output-background {
  width: 62.78%;
  height: 18.13rem;
  // For a bigger project I would create a $background-color with scss
  background-color: #F2F2F2;
  border-radius: 4rem;
}

#output-text {
   // took the color straight from my figma design
  color: rgba(130, 130, 130, 1);
  font-size: 21px;
}

.location-text {
  font-weight: 600;
  font-size: 20px;
  white-space: nowrap;
}

.url-icon {
  height: 20px;
  width: auto;
}

#map {
  margin-top: 130px;
  width: 62.78%;
  height: 30rem;
  min-height: 300px;
  border-radius: 4rem;
}

#how-it-works-width {
  width: 62.78%;
}


.bookmark-div {
  width: 62.78%;
  margin: 0;
}

#nav-spacer {
  width: 208px;
}

.url-icon {
  width: 23px;
  height: auto;
}
