#map {
  height: 31.35rem;
  border-radius: 15px;
}

#travel-section {
  height: 19.4rem;
  width: auto;
}

#how-section {
  height: 15rem;
  width: auto;
}
// Footer section
#footer-geobites {
  height: auto;
  width: 3rem;
}
#footer-text {
  font-size: 2.23rem;
}

.social {
  height: 2.5rem;
  width: auto;
}

#footer-credit {
  font-size: 25.5px;
  font-weight: 200;
}

.output-background {
  background-color: #F2F2F2;
}
