.navbar-logo {
  width: 78px;
  height: auto;
}

.navbar-geobites {
  font-weight: 600;
  font-size: 3.63rem;
}
.navbar-link {
  font-size: 2.38rem;
  color: #424242;
}

#user-icon {
  width: 31px;
  height: auto;
}

.navbar-brand-text {
  font-weight: 600;
}

.navheight {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  height: 120px;
}

.navwidth {
  width: 62.78%;
}
