.navbar {
  border-bottom: 1px solid #e0e0e0;
}

.navbar-logo {
  width: 243px;
  height: 70px;
}

.navbar-geobites {
  font-weight: 600;
  font-size: 3.63rem;
}
.navbar-link {
  font-size: 2.38rem;
  color: #424242;
}

.navbar-logo {

}
