// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";

// imports
@import "navbar";

// Your CSS partials
.navbar-logo {
  width: 130px;
  height: auto;
}

.navbar-brand-text {
  font-weight: 600;
}

body {
  // font-family: inter;
}
