// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import url("https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css");

// imports
@import "navbar";

// Your CSS partials
.navbar-logo {
  width: 130px;
  height: auto;
}

.navbar-brand-text {
  font-weight: 600;
}

body {
  // font-family: inter;
}
