// Got it from the bootstrap website https://getbootstrap.com/docs/5.0/utilities/spacing/
// Also using spacers is easy and saves me time
// The distances I got from Figma. I converted px to rem
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: 2.5rem,
  12: 0.75rem,
  21: 1.31rem,
  28: 1.5rem,
  43: 2.69rem,
  57: 3.56rem,
  75: 4.69rem,
  76: 4.75rem,
  94: 5.88rem,
  240: 15rem
);

// Graphical variables
@import "config/fonts";

// External libraries
@import "bootstrap";
@import url("https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css");

// imports
@import "navbar";
@import "components/main";

// Your CSS partials
// I took this code structure from my old GramGram github project
body {
  font-family: $body-font;
  // https://developer.mozilla.org/en-US/docs/Web/CSS/letter-spacing
  letter-spacing: -3%;

}

h1, h2, h3, h4, h5, h6 {
  font-family: $body-font;
}
